<!DOCTYPE html>

{% macro listing(files, name) -%}
{% if files|length == 0 %}
<p>
<i> no {{ name }} to show </i>
</p>
{% else %}
<ul>
{% for f in files %}
    <li>{{ f }}</li>
{% endfor %}
{% endif %}
</ul>
{% endmacro %}

<html>
    <head>
        <title>xray manager</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        
    </head>
    <body>
        <h1>xray manager</h1>

        <div class="dashboard">
            <div>
                <h2>input queue</h2>
                {{ listing(inputs, 'inputs') }}
                <div class="flush_button">
                    <a href="/action/ingest">flush &rarr;</a>
                </div>
            </div>
            <div>
                <h2>awaiting annotation</h2>
                {{ listing(letters, 'letters') }}
                <div class="flush_button">
                    <a href="/action/letters">flush &rarr;</a>
                </div>
            </div>
            <div>
                <h2>annotated</h2>
                {{ listing(annotated, 'annotated letters') }}
                <div class="flush_button">
                    <a href="/action/historical">flush &rarr;</a>
                </div>
                
            </div>
            <div>
                <h2>historical</h2>
                {{ listing(historical, 'historical letters') }}
            </div>
        </div>
        

        <hr>

        <footer>
            <details>
                <summary>server config</summary>
                <pre>{{ config }}</pre>
            </details>

            <i>
                {{ render_time }}
            </i>
        </footer>
        

    </body>
</html>
